.track-info {  
    color: white;
    padding: 10px;
}


.lyrics {
    text-align: left;
    text-overflow: ellipsis;
}

.similar-tracks-container {
    display: grid;
    grid-auto-flow: column;

    * {
       height: 100%;
       width: 100%
    }
    
}
