.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    /* height: 100%; */
    background-color: #2f2d31;
    margin-top: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.lyrics {
    margin-top: 10px;
    padding: 10px;
    background-color: #2f2d31;
    text-align: left;
}